<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<meta
			http-equiv="cache-control"
			content="max-age=0" />
		<meta
			http-equiv="cache-control"
			content="no-cache" />
		<meta
			http-equiv="expires"
			content="0" />
		<meta
			http-equiv="pragma"
			content="no-cache" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>Insight管理平台</title>
		<!-- <link rel="icon" href="/PhMedTech@128.ico" type="image/x-icon" /> -->
	</head>
	<body>
		<div id="root">
			<div
				style="
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					min-height: 420px;
					height: 100%;
				">
				<div class="page-loading-warp"></div>
			</div>
		</div>
	</body>
</html>
