.App {
  text-align: center;
  margin: 0 auto;
  width: 300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rs-timeline-item-tail {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  border-left: 1px gray dashed;
}

.rs-col-xs-8 {
  width: 33.33333333%;
  margin: 0 auto;
}

.rs-col {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.rs-timeline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  direction: ltr;
  width: 40vh;
}

.rs-timeline-item {
  position: relative;
  text-align: left;
}

.rs-timeline-item-tail {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
}

.rs-timeline-item-dot {
  position: absolute;
  top: 5px;
}


.rs-timeline-item:not(:last-child) .rs-timeline-item-content {
  padding-bottom: 18px;
}

.rs-timeline-align-left .rs-timeline-item-dot {
  left: 0;
}

.rs-timeline-align-left .rs-timeline-item-tail {
  left: 4px;
}

.rs-timeline-align-left .rs-timeline-item {
  padding-left: 22px;
}

.rs-timeline-align-left .rs-timeline-item {
  padding-left: 22px;
}

.rs-timeline-with-time.rs-timeline-align-left .rs-timeline-item-time {
  text-align: right;
  color: gray;


}

.rs-timeline-item-dot::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

ul li:first-child.rs-timeline-item-last .rs-timeline-item-dot::before {
  background-color: #3498ff;
}

.rs-title {
  display: flex;
  justify-content: space-between;

}

.rs-timeline-item:first-child .rs-timeline-item-tail {
  top: 5px;
}

.rs-input {
  width: 200px;
}


.rs-time {
  font-size: 13px;
}

.rs-content-bg {
  background-color: aliceblue;

}

rs-text {
  font-size: 10px;
}