@font-face {
	font-family: 'iconfont'; /* Project id 1231028 */
	src: url('iconfont.woff2?t=1657077398636') format('woff2'),
		url('iconfont.woff?t=1657077398636') format('woff'),
		url('iconfont.ttf?t=1657077398636') format('truetype'),
		url('iconfont.svg?t=1657077398636#iconfont') format('svg');
}

.iconfont {
	font-size: 16px;
	font-family: 'iconfont' !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ICONS_24_Transfer:before {
	content: '\e78f';
}

.icon-Quit:before {
	content: '\e78e';
}

.icon-ICONS_66_chuku:before {
	content: '\e78c';
}

.icon-ICONS_66_jiagong_peihuo:before {
	content: '\e78d';
}

.icon-ICONS_66_ruku_peisongzhong:before {
	content: '\e77d';
}

.icon-ICONS_66_caigoudingdan_yijieshou:before {
	content: '\e77e';
}

.icon-ICONS_66_caigoujihua_daishenhe:before {
	content: '\e77f';
}

.icon-ICONS_66_bohui:before {
	content: '\e780';
}

.icon-ICONS_66_keshitiaobo:before {
	content: '\e781';
}

.icon-ICONS_66_jianhuo_saomiao:before {
	content: '\e782';
}

.icon-ICONS_66_jiagong_daishengchengjianhuodan:before {
	content: '\e783';
}

.icon-ICONS_66_caigoujihua_daitijiao:before {
	content: '\e784';
}

.icon-ICONS_66_caigoudingdan_daipeisong:before {
	content: '\e785';
}

.icon-ICONS_66_caigoudingdan_daijieshou:before {
	content: '\e786';
}

.icon-ICONS_66_keshiyanshou:before {
	content: '\e787';
}

.icon-ICONS_66_jiagong:before {
	content: '\e788';
}

.icon-ICONS_66_caigoujihua_daizhuandingdan:before {
	content: '\e789';
}

.icon-ICONS_66_jianhuo_daishengchengjianhuodan:before {
	content: '\e78a';
}

.icon-ICONS_66_panku:before {
	content: '\e78b';
}

.icon-ICONS_66_yizhuguanli_bufenxiaohao:before {
	content: '\e77b';
}

.icon-ICONS_66_yizhuguanli_weixiaohao:before {
	content: '\e77c';
}

.icon-ICONS_66_yizhuguanli:before {
	content: '\e777';
}

.icon-ICONS_24_Warehouse:before {
	content: '\e772';
}

.icon-ICONS_66_peisongdan_shenhe:before {
	content: '\e773';
}

.icon-ICONS_66_tuisong:before {
	content: '\e774';
}

.icon-ICONS_66_shangjia:before {
	content: '\e775';
}

.icon-ICONS_66_qingling_putong:before {
	content: '\e776';
}

.icon-ICONS_66_scan:before {
	content: '\e778';
}

.icon-ICONS_66_ruku_caigouzhong:before {
	content: '\e779';
}

.icon-ICONS_66_tuihuo_keshi:before {
	content: '\e77a';
}

.icon-ICONS_24_Notes:before {
	content: '\e76e';
}

.icon-ICONS_24_Check:before {
	content: '\e770';
}

.icon-ICONS_24_Notice:before {
	content: '\e771';
}

.icon-ICON_LOGO:before {
	content: '\e768';
}

.icon-ICONS-108-daibanshixiang-chuku:before {
	content: '\e76c';
}

.icon-ICONS-108-daibanshixiang-ruku:before {
	content: '\e76d';
}

.icon-ICONS-108-daibanshixiang-caigoudingdan-yijieshou:before {
	content: '\e76f';
}

.icon-a-ICONS108daibanshixiangpanku:before {
	content: '\e75d';
}

.icon-Invoice:before {
	content: '\e75b';
}

.icon-Return:before {
	content: '\e75c';
}

.icon-a-goods2:before {
	content: '\e758';
}

.icon-a-Notes2:before {
	content: '\e75a';
}

.icon-a-Vector155Stroke:before {
	content: '\e759';
}

.icon-depot:before {
	content: '\e753';
}

.icon-checkout:before {
	content: '\e755';
}

.icon-warehouse-search:before {
	content: '\e756';
}

.icon-Scan:before {
	content: '\e757';
}

.icon-keshiruku:before {
	content: '\e602';
}

.icon-keshituihuo:before {
	content: '\e601';
}

.icon-a-20duplicate:before {
	content: '\e74b';
}

.icon-sanjiku:before {
	content: '\e748';
}

.icon-purenmincaidan-sanjikupandian:before {
	content: '\e747';
}

.icon-reagentReport:before {
	content: '\e714';
}

.icon-ICONS108daibanshixiangfapiaoinvoice:before {
	content: '\e67c';
}

.icon-ICONS108daibanshixiangbeibohuiRejected:before {
	content: '\e67d';
}

.icon-Login_password:before {
	content: '\e668';
}

.icon-Login_account:before {
	content: '\e667';
}

.icon-Login_authentication:before {
	content: '\e666';
}

.icon-hp_cgjh_djs:before {
	content: '\e664';
}

.icon-hp_cgjh_dtj:before {
	content: '\e665';
}

.icon-monitor:before {
	content: '\e663';
}

.icon-ICONS-108-daibanshixiang-jiesuan:before {
	content: '\e662';
}

.icon-Summary:before {
	content: '\e65c';
}

.icon-CONTRAST:before {
	content: '\e660';
}

.icon-Centerstock:before {
	content: '\e65f';
}

.icon-System:before {
	content: '\e661';
}

.icon-Inventory:before {
	content: '\e65d';
}

.icon-Department:before {
	content: '\e656';
}

.icon-Calculator:before {
	content: '\e657';
}

.icon-Basedata:before {
	content: '\e659';
}

.icon-caigou:before {
	content: '\e65a';
}

.icon-Dashboard:before {
	content: '\e65b';
}

.icon-Reportform:before {
	content: '\e65e';
}

.icon-PDA-Arrow:before {
	content: '\e654';
}

.icon-PDA-Arrow-copy:before {
	content: '\e655';
}

.icon-ICONSdaibanshixiangjiagongdan:before {
	content: '\e646';
}

.icon-ICONSdaibanshixiangtuisongdan:before {
	content: '\e649';
}

.icon-ICONSdaibanshixiangdaijiagong:before {
	content: '\e650';
}

.icon-hp_djh_dscjhd:before {
	content: '\e645';
}

.icon-hp_ksdb_dsh:before {
	content: '\e647';
}

.icon-hp_cgdd_dps:before {
	content: '\e648';
}

.icon-hp_jhd_djh:before {
	content: '\e64a';
}

.icon-hp_cgjh_dzdd:before {
	content: '\e64b';
}

.icon-hp_cgdd_djs:before {
	content: '\e64c';
}

.icon-hp_sj_dsj:before {
	content: '\e64d';
}

.icon-hp_zxkth_dsh:before {
	content: '\e64e';
}

.icon-hp_psd_dys:before {
	content: '\e64f';
}

.icon-hp_shql:before {
	content: '\e651';
}

.icon-hp_ptql:before {
	content: '\e652';
}

.icon-hp_ksth_dsh:before {
	content: '\e653';
}

.icon-LOGO:before {
	content: '\e637';
}

.icon-SPLIT:before {
	content: '\e636';
}

.icon-icon-test:before {
	content: '\e635';
}

.icon-keshiqingling:before {
	content: '\e632';
}

.icon-keshiyanshou:before {
	content: '\e633';
}

.icon-keshixiaohao:before {
	content: '\e634';
}

.icon-switch:before {
	content: '\e631';
}

.icon-morentouxiang:before {
	content: '\e62f';
}

.icon-shezhi:before {
	content: '\e630';
}

.icon-info1:before {
	content: '\e62b';
}

.icon-user:before {
	content: '\e62c';
}

.icon-notice1:before {
	content: '\e62d';
}

.icon-Qrcode1:before {
	content: '\e62e';
}

.icon-cangku:before {
	content: '\e623';
}

.icon-icon-caigou:before {
	content: '\e626';
}

.icon-xitong:before {
	content: '\e627';
}

.icon-settings:before {
	content: '\e610';
}

.icon-info:before {
	content: '\e609';
}

.icon-fold:before {
	content: '\e60a';
}

.icon-unfold:before {
	content: '\e60c';
}
