@font-face {
	font-family: 'iconfont'; /* Project id 1231028 */
	src: url('iconfont.woff2?t=1629889713848') format('woff2'),
		url('iconfont.woff?t=1629889713848') format('woff'),
		url('iconfont.ttf?t=1629889713848') format('truetype');
}

.iconfont {
	font-size: 16px;
	font-family: 'iconfont' !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconpurenmincaidan-sanjikupandian:before {
	content: '\e747';
}

.iconreagentReport:before {
	content: '\e714';
}

.iconICONS108daibanshixiangfapiaoinvoice:before {
	content: '\e67c';
}

.iconICONS108daibanshixiangbeibohuiRejected:before {
	content: '\e67d';
}

.iconLogin_password:before {
	content: '\e668';
}

.iconLogin_account:before {
	content: '\e667';
}

.iconLogin_authentication:before {
	content: '\e666';
}

.iconhp_cgjh_djs:before {
	content: '\e664';
}

.iconhp_cgjh_dtj:before {
	content: '\e665';
}

.iconmonitor:before {
	content: '\e663';
}

.iconICONS-108-daibanshixiang-jiesuan:before {
	content: '\e662';
}

.iconSummary:before {
	content: '\e65c';
}

.iconCONTRAST:before {
	content: '\e660';
}

.iconCenterstock:before {
	content: '\e65f';
}

.iconSystem:before {
	content: '\e661';
}

.iconInventory:before {
	content: '\e65d';
}

.iconDepartment:before {
	content: '\e656';
}

.iconCalculator:before {
	content: '\e657';
}

.iconBasedata:before {
	content: '\e659';
}

.iconcaigou:before {
	content: '\e65a';
}

.iconDashboard:before {
	content: '\e65b';
}

.iconReportform:before {
	content: '\e65e';
}

.iconPDA-Arrow:before {
	content: '\e654';
}

.iconPDA-Arrow-copy:before {
	content: '\e655';
}

.iconICONSdaibanshixiangjiagongdan:before {
	content: '\e646';
}

.iconICONSdaibanshixiangtuisongdan:before {
	content: '\e649';
}

.iconICONSdaibanshixiangdaijiagong:before {
	content: '\e650';
}

.iconhp_djh_dscjhd:before {
	content: '\e645';
}

.iconhp_ksdb_dsh:before {
	content: '\e647';
}

.iconhp_cgdd_dps:before {
	content: '\e648';
}

.iconhp_jhd_djh:before {
	content: '\e64a';
}

.iconhp_cgjh_dzdd:before {
	content: '\e64b';
}

.iconhp_cgdd_djs:before {
	content: '\e64c';
}

.iconhp_sj_dsj:before {
	content: '\e64d';
}

.iconhp_zxkth_dsh:before {
	content: '\e64e';
}

.iconhp_psd_dys:before {
	content: '\e64f';
}

.iconhp_shql:before {
	content: '\e651';
}

.iconhp_ptql:before {
	content: '\e652';
}

.iconhp_ksth_dsh:before {
	content: '\e653';
}

.iconLOGO:before {
	content: '\e637';
}

.iconSPLIT:before {
	content: '\e636';
}

.iconicon-test:before {
	content: '\e635';
}

.iconkeshiqingling:before {
	content: '\e632';
}

.iconkeshiyanshou:before {
	content: '\e633';
}

.iconkeshixiaohao:before {
	content: '\e634';
}

.iconswitch:before {
	content: '\e631';
}

.iconmorentouxiang:before {
	content: '\e62f';
}

.iconshezhi:before {
	content: '\e630';
}

.iconinfo1:before {
	content: '\e62b';
}

.iconuser:before {
	content: '\e62c';
}

.iconnotice1:before {
	content: '\e62d';
}

.iconQrcode1:before {
	content: '\e62e';
}

.iconcangku:before {
	content: '\e623';
}

.iconicon-caigou:before {
	content: '\e626';
}

.iconxitong:before {
	content: '\e627';
}

.iconshuju:before {
	content: '\e628';
}

.iconcaiwu:before {
	content: '\e629';
}

.iconexchange:before {
	content: '\e60f';
}

.iconsettings:before {
	content: '\e610';
}

.iconQrcode:before {
	content: '\e611';
}

.iconinfo:before {
	content: '\e609';
}

.iconfold:before {
	content: '\e60a';
}

.iconnotice:before {
	content: '\e60b';
}

.iconunfold:before {
	content: '\e60c';
}

.iconsearch:before {
	content: '\e608';
}
